.circle {
	position: relative;
	width: 75px;
	height: 75px;
	padding: 5% 0;
    margin: lem auto;
    margin-top: 30px;
	border-radius: 50%;
	background: #383E41;
	background-size: cover;
	user-select: none;
}

.variable {
	min-height: 30px;
	height: 60px;
}

.slider {
    margin-top: 10px;
    min-width: 30px;
}

td {
    height: 100px;
    min-width: 30px;
}

.num {
    border: 1px solid gray;
    padding: 6px;
    width:40px;
    color: rgb(182, 182, 182);
    border-radius: 6px;
    font-size: 36px;

}

