.circle {
	position: relative;
	width: 75px;
	height: 75px;
	padding: 5% 0;
	margin: lem auto;
	border-radius: 50%;
	background: #383E41;
	background-size: cover;
}

.variable {
	min-height: 30px;
	height: 60px;
	margin: -10px;
}

.slider {
	margin-top: 10px;
}
