.variable {
    min-width: 5%;
    height: 60%;
    font-size: 150%;
}

.slider {
    margin-top: 10px;
}

td {
    height: 10%;
}

.num {
    border: 1px solid gray;
    padding: 6px;
    width: 60px;
    color: rgb(182, 182, 182);
    border-radius: 6px;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.large_num {
    border: 1px solid gray;
    padding: 6px;
    width: 120px;
    color: rgb(182, 182, 182);
    border-radius: 6px;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}
#result {
    width: 170px;
    color: rgb(182, 182, 182);

    border: 1px solid rgb(0, 233, 50);
    border-radius: 8px;

    text-align: center;
    vertical-align: middle;
    line-height: 60px;

    font-weight: bold;
    font-size: 150%;

    background-color: rgba(0, 0, 0, 0.603);
}
