.main_block {
    margin-top: 1%;
    margin-left: 7%;
}

.sub_block {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.summary {
    float: left;
    max-width: 65%;
    font-size: 120%;
    padding-left: 2%;
}

#drake {
    vertical-align: middle;
    width: 100%;
    height: auto;
    margin-left: 4%;
}

p {
    font-size: 30px;
    font-size: .9vw;
    font-size: 1.7vh;
}
