.main_block {
    margin-top: 100px;
    width: 100%;
}

.sub_block {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.summary {
    float: left;
    max-width: 70%;;
    font-size: 120%;
}

#drake {
    margin-top: 15%;
    margin-left: 20%;

}
