#backgroundDiv {
    background: rgba(0, 0, 0, 0.6);
    /* background-color: #141414; */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: -30%;
    height: 400px;
    z-index: 100;
    padding: 10px;
}

.equation {
    color: rgb(204, 204, 204);
    font-size: 25px;
}

#header {
    font-size: 36px;
    color: white;

    text-align: center;
    vertical-align: middle;
    line-height: 36px;
}

p {
    color: white;
}

.content {
    z-index: 100;
    margin-top: 12%;
    width: 70%;
}

