#backgroundDiv {
    background: rgba(0, 0, 0, 0.6);
    margin-top: -35%;
    z-index: 100;
    padding: 10px;
}

.equation {
    color: rgb(204, 204, 204);
    font-size: 25px;
}

#header {
    font-size: 36px;
    color: white;

    text-align: center;
    vertical-align: middle;
    line-height: 36px;
}

p {
    color: white;
}

.content {
    z-index: 100;
    margin-top: 12%;
}

